/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Estilo de encabezado */
header {
    background-color: #3b5998;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
}

/* Contenedor del formulario */
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo de la lista de sugerencias */
#suggestions {
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 10;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}

/* Estilo del contenedor de información del país */
#country-info {
    display: grid; /* Cambiamos a grid */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Mínimo de 250px por tarjeta */
    gap: 20px; /* Espacio entre tarjetas */
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px; /* Ancho máximo del contenedor */
}

/* Estilo de cada tarjeta de país */
.country-card {
    text-align: left;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.country-card h2 {
    margin-top: 0;
}

.country-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
}
